<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 id="head">
    Admin control panel
  </h1>
  <div id="menu">
    <nav>
      <a routerLink="/lessons">lessons</a>
      <a routerLink="/customers">customers</a>
      <div class="line"></div>
      <a routerLink="/registrations">registrations</a>
    </nav>
  </div>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
  <div id="foot">
    ===========================================
  </div>
</div>

