<h2>lessons</h2>

<ul class="item-list">
  <li *ngFor="let lesson of lessons">
    <a routerLink="/lessons/{{lesson.id}}">
      <span class="badge">{{lesson.id}}</span> {{lesson.date}}
    </a>
    <button class="delete" title="delete lesson"
            (click)="delete(lesson)">x</button>
  </li>
</ul>
<div>
  <label>lesson date:
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </label>
  <button (click)="add(lessonDate.value); lessonDate.value=''">
    add
  </button>
</div>
