<h2>lessons</h2>

<ul class="item-list">
  <li *ngFor="let lesson of lessons">
    <a routerLink="/lessons/{{lesson.id}}">
      <span class="badge">{{lesson.id}}</span> {{lesson.date | date: dateTimeTemplate}}
    </a>
    <button class="delete" title="delete lesson"
            (click)="delete(lesson)">x
    </button>
  </li>
</ul>
<div>
  <label>lesson date:
    <input [owlDateTime]="dt" [owlDateTimeTrigger]="dt" placeholder="Date Time">
    <owl-date-time #dt ></owl-date-time>
  </label>
  <button (click)="add(dt.dtInput.value);">
    add
  </button>
</div>
