<h2>registrations</h2>

<ul class="item-list">
  <li *ngFor="let registration of registrations">
    <a routerLink="/registrations/{{registration.id}}">
      <span class="badge">{{registration.id}}</span> {{registration.customer.id + '_' + registration.lesson.id}}
    </a>
    <button class="delete" title="delete lesson"
            (click)="delete(registration)">x</button>
  </li>
</ul>
<div>
  <label>customerId:
    <input #customerId />
  </label>
  <label>lessonId:
    <input #lessonId />
  </label>
  <button (click)="add(customerId.value, lessonId.value); customerId.value=''; lessonId.value='';">
    add
  </button>
</div>
